<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>

    <div class = "container">
      <div class = "p-4 m-4">
       
          <div class = "col-lg-4 mx-auto border rounded px-3 py-3">
          <div class = "text-center">
          <h3 class= "alert alert-dark border rounded badge-dark">Create An Account</h3>
           </div>
          
          <form action="/signup" method = "POST">
            {% csrf_token %}
            {% if messages %}
            {% for message in messages %}
            <div class = "alert alert-danger" role = "alert">
            {{message}}
            </div>
            {% endfor %}
            {% endif %}

          <!--User Name-->
      
            <div class = 'form-group'>
              <label>User Name</label>
              <input type = 'text'  name = 'username' class = 'form-control form-control-sm'>
            </div>
           
           
          <!--Email-->
      
          <div class="form-group">
            <label >Email</label>
            <input   type="email" name="email" class="form-control form-control-sm" placeholder="Example@gmail.com">
          </div>
          <!--Password-->
      
                <div class="form-group">
                  <label>Password</label>
                  <input   type="Password" name="password" class="form-control form-control-sm" placeholder="********">
                   <p><small>Password must be 6 to 20 characters long.</small></p>
                   
                </div>
                
                
           <!--Button-->
       
              <div class= "form-group text-center mt-1">
              <input type = "submit" value = "Create An Account" class= "btn btn-warning btn-sm">
              </div>
              <hr>
            <p class= 'btn-sm text-center'>Already Registered?
            <a href = "/" style = "text-decoration:none;">Login</a>
            </p>
      
      
         </form> 
          </div>
          </div>
          </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
  </html>
 